 @model ShoppingCart
 <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">@general.lblImage</th>
                            <th scope="col">@general.lblCourseName</th>
                            <th scope="col">@general.lblPrice</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                    @if(Model!=null)
                        {
                            @foreach (var Course in Model.lstItems)
                            {
                                <tr>
                                    <td>
                                        <a><img src="~/Uploads/CoursesImage/@Course.ImageName" alt=""></a>
                                    </td>
                                    <td>
                                        <a>@Course.CourseName</a>
                                        <div class="mobile-cart-content row">
                                            <div class="col-xs-3">
                                                <div class="qty-box">
                                                    <div class="input-group">
                                                        <input type="text" name="quantity" class="form-control input-number"
                                                               value="1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <h2 class="td-color">$63.00</h2>
                                            </div>
                                            <div class="col-xs-3">
                                                <h2 class="td-color">
                                                    <a href="#" class="icon"><i class="ti-close"></i></a>
                                                </h2>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (@Course.Price == 0)
                                        {
                                            <h2>@general.lblFree</h2>
                                        }
                                        else
                                        {
                                            <h2>@Course.Price</h2>
                                        }

                                    </td>



                                </tr>

                            }

                        }
                    </tbody>
                   
                </table>
           
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="/Home/Index" class="btn btn-solid">@general.lblcontinueshopping</a></div>
            <div class="col-6"><a href="/Order/CheckOut" class="btn btn-solid">@general.lblcheckout</a></div>
        </div>
    </div>
</section>
<!--section end-->