@using Bl.Classes
@model ApplicationUserModel
<div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="User" asp-action="Edit" role="form">

                        <input type="hidden" asp-for="UserId" />

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResWebSite.lblFirstName</label>
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="@ResWebSite.lblFirstName">
                            <span style="color:crimson" asp-validation-for="FirstName"></span>
                        </div>
            
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResWebSite.lblLastName</label>
                            <input asp-for="LastName" type="text" class="form-control" placeholder="@ResWebSite.lblLastName">
                            <span style="color:crimson" asp-validation-for="LastName"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResWebSite.lblEmail</label>
                            <input asp-for="Email" type="text" class="form-control" placeholder="@ResWebSite.lblEmail">
                            <span style="color:crimson" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResWebSite.lblPassword</label>
                            <input asp-for="Password" type="text" class="form-control" placeholder="@ResWebSite.lblPassword">
                            <span style="color:crimson" asp-validation-for="Password"></span>
                        </div>
                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@ResWebSite.lblSave</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (!string.IsNullOrEmpty(ViewBag.Failed))
    {
        <script>
            // Display a SweetAlert popup
            Swal.fire({
                icon: 'error',
                title: '@ViewBag.Failed',
                showConfirmButton: true // Show a confirm button
            }).then((result) => {
            @{
                ViewBag.Failed = ""; // Assigning ViewBag.Success in Razor code
            }
                                    });
        </script>
    }
}
